<div class="auth-wrapper">
    <div class="auth-card">
        <h2 class="auth-title">Login Successful</h2>

        <label>Your JWT Token</label>
        <textarea class="form-control" rows="5">@ViewBag.Token</textarea>

        <p class="text-center mt-3">
            Copy and use this token for API calls.
        </p>
    </div>
</div>
